<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tripco.www.tripco">

    <!-- 인터넷 사용 퍼미션 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 화면 깨우기 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 윈도우 띄우기 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 구글맵 사용 퍼미션 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- UUID 획득 퍼미션 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 카메라 사용 퍼미션 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 앱설치 후 바로가기 설치 퍼미션 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:name=".TripcoApplication"
        android:allowBackup="true"
        android:icon="@drawable/tr"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/tr"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:icon">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SetTripActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.JoinActivity" />
        <activity android:name=".ui.TripActivity" />
        <activity android:name=".ui.MyPageActivity" />
        <activity android:name=".ui.ModifyNickActivity" />
        <activity android:name=".ui.ModifyPwdActivity" />
        <activity android:name=".ui.AlarmActivity" />
        <activity android:name=".ui.ScheduleInfoActivity" />
        <activity android:name=".ui.ModifyScheduleActivity" />
        <activity android:name=".ui.SetScheduleActivity"  android:theme="@style/Theme.AppCompat.Translucent" />

        <!-- 저장 경로에 대한 설정 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rx_paparazzo_file_paths" />
        </provider>

        <!-- [START firebase_service] -->
        <service android:name=".service.TripcoFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service android:name=".service.TripcoFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>